// Place all the styles related to the musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.box{
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #EEE;
  .image {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
  }
}

#my-modal {
  // top: 20%;
  .modal-dialog-center {
    margin-top: 20%;
  }
}
